body {
  margin: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  width: 50vw;
  min-height: 100px;
}

.table,
td {
  border: solid black;
  border-collapse: collapse;
}

td {
  width: 10px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  min-width: 100px;
}

.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
